body{

    background-image: url(img/body.jpg);
    background-size: cover;
}
#logo{
    width: 200px;
    display: contents;
}
nav {
    display: inline-block;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.363);
    width: 1173px;
    height: 50px;
    
}
li{
    float: left;
}
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: rgb(247, 114, 6);
    height: 50px;
}
.active {
    background-color: #f1f7f6;
    height: 50px;
    color: rgb(12, 172, 212);
}